body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: brown;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.input-field input:focus + label {
  color: red !important;
}

.input-field input:focus {
  border-bottom: 1px solid red !important;
  box-shadow: 0 1px 0 0 red !important;
}

.input-field label {
  color: #0d47a1 !important;
}

.input-field input {
  border-radius: 1px solid #0d47a1 !important;
  box-shadow: 0 1px 0 0 #0d47a1 !important;
}
